In [1]:
import pandas as pd
import datetime
import numpy as np
import matplotlib as mp
import matplotlib.pyplot as plt
import os
from prophet import Prophet
import pandas as pd

In [2]:
df = pd.read_csv("Combined_Po.csv").iloc[:,:2]
df

             ds          y
0    2023-05-01          0
1    2023-05-02          0
2    2023-05-03          0
3    2023-05-04          0
4    2023-05-05          0
..          ...        ...
179  2023-10-27  1,199,359
180  2023-10-28    127,150
181  2023-10-29    185,600
182  2023-10-30  1,300,985
183  2023-10-31  1,213,624

[184 rows x 2 columns]

In [3]:
df['ds'] = pd.to_datetime(df['ds'], errors = 'coerce')

In [4]:
df['y'] = df['y'].str.replace(',', '').astype('int64')

In [5]:
df['y'] = pd.to_numeric(df['y'], errors = 'coerce')

In [6]:
df.loc[df['y'] == 0, 'y'] = df['y'].mean()
df['y'] = df['y'].round(0)

In [7]:
df

            ds          y
0   2023-05-01   846816.0
1   2023-05-02   846816.0
2   2023-05-03   846816.0
3   2023-05-04   846816.0
4   2023-05-05   846816.0
..         ...        ...
179 2023-10-27  1199359.0
180 2023-10-28   127150.0
181 2023-10-29   185600.0
182 2023-10-30  1300985.0
183 2023-10-31  1213624.0

[184 rows x 2 columns]

In [8]:
model = Prophet()

model.fit(df)

00:53:42 - cmdstanpy - INFO - Chain [1] start processing
00:53:42 - cmdstanpy - INFO - Chain [1] done processing

In [9]:
start_date='20231025'
end_date='20231031'
future_7days=pd.date_range(start=start_date, end=end_date, freq='D')
future_7days = pd.DataFrame(future_7days, columns = ['ds'])
future_7days['ds']= pd.to_datetime(future_7days['ds'])

In [10]:
forecast = model.predict(future_7days)

In [11]:
f_date = forecast['ds'] #날짜
f_min = forecast['yhat_lower'] #최솟값
f_max = forecast['yhat_upper'] #최댓값
f_mean = forecast['yhat'] #평균값

In [12]:
Date = df['ds'].iloc[-7:].reset_index(drop = True)

In [13]:
Actual_Sales = df['y'].iloc[-7:].reset_index(drop = True)

In [14]:
Expected_sales = f_mean.round(0)

In [15]:
Error_Rate = ((Actual_Sales - f_mean.round(0))/f_mean.round(0)).mul(100).abs().round(0)

In [16]:
verification = pd.DataFrame({'Date' : Date,'Actual_Sales' : Actual_Sales, 
                            'Expected_Sales' : Expected_sales, 'Error_Rate' : Error_Rate.astype('str') + '%'})

In [17]:
verification

        Date  Actual_Sales  Expected_Sales Error_Rate
0 2023-10-25     1145445.0       1226714.0       7.0%
1 2023-10-26     1254875.0       1233686.0       2.0%
2 2023-10-27     1199359.0       1100336.0       9.0%
3 2023-10-28      127150.0        164309.0      23.0%
4 2023-10-29      185600.0        126079.0      47.0%
5 2023-10-30     1300985.0       1115895.0      17.0%
6 2023-10-31     1213624.0       1116029.0       9.0%

In [18]:
Error_Rate_Mean = round(Error_Rate.mean())
Error_Rate_Mean

16